<mat-toolbar color="primary" [className]="'footer'">
  <a href="https://www.youtube.com/watch?v=o-YBDTqX_ZU&ab_channel=MusRest" target="_blank" [className]="'footer-link'">Support</a>
  <a href="https://www.youtube.com/watch?v=o-YBDTqX_ZU&ab_channel=MusRest" target="_blank" [className]="'footer-link'">Contacts</a>
  <a href="https://www.valvesoftware.com/en/contact?contact-person=Gabe%20Newell" target="_blank" [className]="'footer-link GabeNewell'">Gabe Newell direct email</a>
  <a href="https://www.youtube.com/watch?v=o-YBDTqX_ZU&ab_channel=MusRest" target="_blank" [className]="'footer-link'">Gift Cards</a>
</mat-toolbar>